#css-override .boxcover{
	padding: none !important;
	color: rgba(0,0,0,0) !important;
	text-shadow: none;

	border-bottom: 2px solid black;
}
#css-override .fadedBox{
	padding: none !important;
	background-color: transparent;
	box-shadow: none;
	color: #efefef !important;
	text-shadow: 2px 2px #222;

	border-bottom: 2px solid black;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

.jevlainput{
	font-size:22px !important;
	margin: 0px;
	color: #efefef;
	text-shadow: 2px 2px #222;
	text-align: center !important;
}


.cd-slideshow {
	margin: 0px !important;
}

#css-override h2 {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 30pt;
	font-weight: bold;
}
#css-override h3 {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 22pt;
	margin-top: -10px;
	margin-bottom: 25px;
}
#css-override .lyrics {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 18pt;
	margin: 0px 5px;
}
#css-override .artist1 {
	background-color: #111;
    background-image: url("../cvrart/LushLifeBG.png");
    background-size: cover;
    background-position: center; 
}
#css-override .artist2 {
	background-color: #111;
    background-image: url("../cvrart/PandaBG.png");
    background-size: cover;
    background-position: center; 
}
#css-override .artist3 {
	background-color: #111;
    background-image: url("../cvrart/ColdplayBG.png");
    background-size: cover;
    background-position: center; 
}