#box1, #box2, #box3{
	padding: 0em 0.4em 0em 0.4em;
	color: black !important;
	background-color: white;
	box-shadow: 0px 0px 10px 3px #efefef;
	text-shadow: none;
}
.fadedBox{
	background-color: transparent !important;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

.jevlainput{
	font-size:22px !important;
	margin: 0px;
	color: #efefef;
	text-shadow: 2px 2px #222;
}


.cd-slideshow {
	margin: 0px !important;
}

#css-override h2 {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 30pt;
	font-weight: bold;
}
#css-override h3 {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 22pt;
	margin-top: 0px;
}
#css-override .lyrics {
	color: #efefef;
	text-shadow: 2px 2px #222;
	font-size: 18pt;
	margin: 0px 5px;
}
#css-override .artist1 {
    background-image: url("../cvrart/LushLifeBG.png");
    background-size: cover;
    background-position: center; 
}
#css-override .artist2 {
    background-image: url("../cvrart/PandaBG.png");
    background-size: cover;
    background-position: center; 
}
#css-override .artist3 {
    background-image: url("../cvrart/ColdplayBG.png");
    background-size: cover;
    background-position: center; 
}